.form-popup {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.form {
    max-width: 450px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    top: 25vh;
    transition: 3s ease;
}

.form .form-header {
    margin-bottom: 30px;
    display: flex;
    background-color: #1a222e;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.form h3 {
    color: white;
    margin: 7px 0;
}

.form .close {
    height: 50%;
    color: white;
    font-size: x-large;
}

.form .form-container {
    padding: 0 15px;
}

.form .form-container .data-item {
    max-width: 45%;
    padding-right: 20px;
}

.form .form-container .name, .form .form-container .speciality, .form .form-container .notes {
    width: 100%;
}

.form .form-container .form-item {
    margin-bottom: 15px;
}

.form .form-container textarea {
    resize: none;
}

.form .form-container .flex-data {
    display: flex;
    flex-wrap: wrap;
}

.form .form-container .birthday {
    display: block;
    width: 45%;
}

.form .form-container .sex {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form .form-container .color {
    display: flex;
    align-items: center;
    width: 45%;
    margin-bottom: 15px;
    position: relative;
}

.form .form-container .color label {
    width: 10%;
}

.form .form-container .color input {
    margin: 0 0 0 auto;
    padding: 4% 3%;
}

.form .form-container .color .back-color {
    position: absolute;
    width: 10%;
    height: 80%;
    right: 30%;
}

.form .form-container .submit {
    color: red;
    width: 100%;
    font-size: 36px;
}

.form .form-container .submit:hover {
    color: white;
}

.teacher-info-popup {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
    transition: opacity 500ms;
}

.teacher-info {
    max-width: 550px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    top: 25vh;
    transition: 3s ease;
}

.teacher-info .info-header {
    margin-bottom: 10px;
    display: flex;
    background-color: #1a222e;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.teacher-info .info-header h3 {
    color: white;
    margin: 7px 0;
}

.teacher-info .info-header .close {
    height: 50%;
    color: white;
    font-size: x-large;
}

.teacher-info .teacher-card-info {
    padding: 0 15px 10px;
}

.teacher-info .teacher-card-info .teacher-full-card {
    position: relative;
}

.teacher-info .teacher-card-info .teacher-full-card::after {
    content: '';
    display: table;
    clear: both;
}

.teacher-info .teacher-card-info .photo {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 20px;
}

.teacher-info .teacher-card-info .star {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -8px;
    right: 0;
}

.teacher-card-star:hover {
    cursor: pointer;
}

.teacher-info .teacher-card-info h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.teacher-info .teacher-card-info .subject {
    font-weight: bolder;
    font-size: 18px;
}

.teacher-info .teacher-card-info p {
    margin-bottom: 15px;
}

.teacher-info .teacher-card-info a {
    display: block;
    margin-bottom: 15px;
}

.teacher-info .teacher-card-info .email, .teacher-info .teacher-card-info .map, .teacher-info .teacher-card-info .phone {
    color: cornflowerblue;
}

.teacher-info .teacher-card-info .map {
    border-bottom: 1px dashed cornflowerblue;
    display: inline-block;
}

@media (max-width: 585px) {
    .teacher-info {
        max-width: 450px;
    }

    #info-card-photo {
        width: 200px;
        height: 200px;
        margin-right: 10px;
    }

    #info-card-star {
        width: 30px;
        height: 30px;
    }

    #info-card-title {
        font-size: 20px;
    }

    #p-subject {
        font-size: 18px;
    }

    #p-address, #p-per-data, #a-email, #a-phone, #a-map {
        font-size: 14px;
    }

    #p-comment {
        font-size: 12px;
    }
}

@media (max-width: 485px) {
    .teacher-info {
        max-width: 350px;
    }

    #info-card-photo {
        width: 120px;
        height: 120px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #info-card-star {
        width: 30px;
        height: 30px;
    }

    #info-card-title {
        font-size: 18px;
        margin-bottom: 2px;
    }

    #p-subject {
        font-size: 16px;
        margin-bottom: 2px;
    }

    #p-address, #p-per-data, #a-email, #a-phone, #a-map {
        font-size: 14px;
        margin-bottom: 2px;
    }

    #p-comment {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    .teacher-info {
        max-width: 315px;
    }
}
