@page
@model HTML_Tasks.Pages.Tasks.Task4Model
@{
    ViewData["Title"] = "Task 4";
}

<head>
    <meta charset="utf-8" />
    <title>Task 4</title>
</head>

<body>
    <h1>Task 4</h1>
    <hr />
    <table align="center" class="table table-bordered table-primary">
        <thead class="thead-dark">
            <tr>
                <th colspan="4" class="text-center h2">Statisticaly table</th>
            </tr>
            <tr>
                <th>№</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody class="text-body">
            @for(int i = 1; i < 11; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Model.random.Next(18,50)</td>
                    <td>@Model.getRandomSex()</td>
                    <td>@Model.getRandomCountry()</td>
                </tr>
            }
        </tbody>
    </table>
</body>