@page
@model HTML_Tasks.Pages.Tasks.Task2Model
@{
    ViewData["Title"] = "Task 2";
}

<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Task 2</h1>
    <hr />
    <div class="compact-card">
    <h4>Compact Teacher Card</h4>
    <table>
        <caption> <strong>Natalia Lenko</strong></caption>
        <tr> <img src="~/uploadfiles/Lenko.png" alt="My photo should have been here" width="200" height="200" /></tr>
    </table>
    </div>
    <a href="Task3" target="_blank">More details</a>
</body>