@page
@model HTML_Tasks.Pages.Tasks.Task3Model
@{
    ViewData["Title"] = "Task 3";
}

<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Task 3</h1>
    <hr />
    <div class="Full teacher's card">
        <table align="center" class="table table-striped" data-color="pink">
            <thead class="thead-dark">
                <tr>
                <th colspan="8" class="text-center">Full teacher's card</th>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Natalia Lenko</td>
                    <td>Female</td>
                    <td>46</td>
                    <td>lenko@gmail.com</td>
                    <td>096-123-45-67</td>
                    <td>Ukraine</td>
                    <td>Ovruch</td>
                    <td>Teacher's comment</td>
                </tr>
           </tbody>
        </table>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39892.34803214278!2d28.773060616074304!3d51.324521278877114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472987f8b974aae1%3A0xc133be32ddf9c30a!2sOvruch%2C%20Zhytomyr%20Oblast%2C%20Ukraine%2C%2011101!5e0!3m2!1sen!2suk!4v1677496924666!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>
